/* ===== reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Yu Gothic", "Meiryo", sans-serif;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

/* ===== header ===== */
.site-header {
  position: relative;
  padding: 20px;
}

/* ===== nav（PC） ===== */
.nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.nav a {
  padding: 10px 15px;
  transition: background 0.2s;
}

.nav a:hover {
  background: #444;
  border-radius: 4px;
}

/* ===== hamburger ===== */
.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  display: block;
  width: 24px;
  height: 3px;
  background: #fff;
  margin: 5px 0;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

/* ===== SP ===== */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav {
    position: fixed;
    inset: 0;
    width: 100vw;
    /* height: 60vh; ← 修正ポイント */
    background: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-100%);
    transition: transform 0.4s ease;

    z-index: 1000;
  }
  .nav ul li a {
    font-size: 1.4rem;
  }

  .nav.open {
    transform: translateY(0);
  }

  .nav ul {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .nav li {
    width: 100%;
  }

  .nav a {
    display: block;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    font-size: 1.4rem;
  }

  .nav a:hover {
    background: #444;
  }
  .site-title .ruby {
    display: none;
  }
}
