/* ===== reset ===== */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: "Yu Gothic", "游ゴシック体", sans-serif;
  /* overflow: hidden;  ← 削除または変更 */
  overflow-y: auto; /* 縦スクロールのみ許可 */
}
/* form */
form {
  max-width: 1035px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: black;
}

.required {
  color: red;
  font-size: 0.9em; /* 少し小さめに表示する場合 */
  margin-left: 4px; /* ラベルとの間隔 */
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: #fff;
}

button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.message {
  color: #fff;
  white-space: pre-line;
  text-align: center;
  margin-bottom: 1rem;
}
.message a {
  color: skyblue;
}
.contact-img {
  text-align: center;
  max-width: 100%;
}
.contact-img img {
  width: 100%;
}
@media (max-width: 768px) {
  .message {
    font-size: 0.8rem;
  }
  form {
    max-width: 600px;
  }
  .contact-img {
    text-align: center;
  }
  .contact-img img {
    width: 100%;
  }
}
@media (max-width: 478px) {
  .message {
    font-size: 0.6rem;
  }
}
